<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdKNuH-f9TY86mszFCfMGn1ATyB4x3FXs</string>
	<key>GCM_SENDER_ID</key>
	<string>207821637752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campuspro</string>
	<key>PROJECT_ID</key>
	<string>campusproios190724-6b434</string>
	<key>STORAGE_BUCKET</key>
	<string>campusproios190724-6b434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207821637752:ios:9473e0d4f5eaba4e6e058d</string>
</dict>
</plist>